.container {
  /*display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "remainder";
  background-color: blue;
  height: 100vh;
  width: 100vw;*/
  width: 100%;
  height: 100vh;
  margin: 0;
  display: grid;

  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "remainder";
  grid-template-columns: 1fr;
}

.header {
  grid-area: header;
  background-color: green;
  border-width: 2;
  border-color: yellow;
  /*height: 100px;*/
}

.remainder {
  /*display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Main"
    "Footer";
  grid-area: remainder;
  overflow-y: "auto";*/
  display: grid;
  grid-area: remainder;
  overflow-y: auto;
  border-color: green;
  border-width: 2px;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "main"
    "menu";
  grid-template-columns: 1fr;
}

.Main {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-area: main;
  overflow-y: auto;
  border-color: black;
  background-color: yellow;
  border-width: 2px;
  grid-template-areas:
    "headertitle"
    "text";
}
.MainContent {
  background-color: rgb(90, 90, 25);
  grid-area: headertitle;
}
.Text {
  grid-area: text;
  overflow-y: auto;
}

.Footer {
  /* grid-area: Footer;
  height: 100px;
  background-color: red;*/
  grid-area: menu;
  border-color: blue;
  border-width: 2px;
}
